div.mat-elevation-z8{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    /*table-layout: fixed;*/
}

.formContainer{
    width: 75%;
    margin: auto;
    text-align: center;
}

.mat-toolbar-row{ 
    justify-content: space-between; 
    background-color: white;
}

.formRow{
    text-align: left;
    display: inline-block;
    margin: 1em;
}

.saveButton{
    /*En caso de modificar el color verde, modificarlo tambien en el edit*/
    background-color: rgb(33, 199, 33);
    color: white;
    margin: 10px;
}

.cancelButton{
    background-color: red;
    color:white;
    margin: 10px;
}

.editButton{
    color:rgb(33, 199, 33);
}

.deleteButton{
    color:red;
}